<nav>

    <%= link_to "Home", root_path %>
    <%= link_to "About", about_path %>
    <%= link_to "Work", work_path %>
    <%= link_to "Contact", contact_path %>
</nav>
<h1>Welcome</h1>
<p>Kylan Plunk | back-end developer</p>